.search-container{
    background-color: rgba(0, 0, 0, 0.678);
    text-align: center;
    line-height: 60px;
}
.search-container input{
    width: 75%;
    padding: 5px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid lightgray;
    margin-right: 10px;
    margin-left: 20%;
}
.cart-container{
    position: fixed;
    margin-left: 76%;
    width: 30%;
}